/PVO-Novi-Sad/.vs/
/PVO-Novi-Sad/packages/
/PVO-Novi-Sad/x64/Debug/

# Build rezultati
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log
*.lib
*.exp
*.ipdb
*.iobj
*.tlog
*.lastbuildstate


.vs/
*.user
*.suo
*.vcxproj.user
*.opendb


*.vcxproj.filters
*.VC.db
*.VC.opendb
*.ncb
*.psess
*.aps


Thumbs.db
desktop.ini
$RECYCLE.BIN/


packages/
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/

# Backup fajlovi
*.bak
*.swp
*.swo
*.tmp

# Generisane datoteke
*.gch
*.pch
*.ipch
*.lst

# Git fajlovi
*.orig

.DS_Store

